body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.hidden {
    display: none;
}
  
.container {
    padding: 10px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid var(--primary-dark-color-inactive);
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }


/* Safari */
@-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  button {
    background-color: var(--primary-light-color-focus);
    color: var(--color-input-enabled);
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  

  button {
    background-color: var(--primary-light-color-active);
  }

  label{
    font-size: 14px;
  }