@page
@model Celestin.API.Pages.aboutModel
@{
}

<!DOCTYPE html>
<html>
<head>
	<title>About Me</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 20px;
			background-color: #f0f0f0; /* light gray background */
		}

		h1 {
			color: #00698f; /* blue heading */
			font-size: 36px;
			margin-bottom: 10px;
		}

		p {
			margin-bottom: 20px;
			color: #333; /* dark gray text */
		}

		.container {
			max-width: 800px;
			margin: 40px auto;
			padding: 20px;
			background-color: #fff; /* white background */
			border: 1px solid #ddd; /* light gray border */
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
		}

		.navbar {
			background-color: #333; /* dark gray navbar */
			padding: 10px;
			text-align: center;
		}

			.navbar a {
				color: #fff; /* white text */
				text-decoration: none;
			}
	</style>
</head>
<body>
	<h1>About Us</h1>
	<p> Welcome!</p>
	<p>This is an celestial objects catalog </p>
	
	<p>Latest update: 11/07/2024 </p>
</body>
</html>