<!DOCTYPE html>
<html>
<head>
    <title>List</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='./style-variables.css'>
    <link rel='stylesheet' href='./style-nav.css'>
    <link rel='stylesheet' href='./list-style.css'>
    <link rel='stylesheet' href='./style-base.css'>
</head>
<body>
<script src="./list.mjs" type="module"></script>
<div id='navbar'></div>
<div class='container'>
    <h1>List</h1>
    <div class="loader" id='loader-container'></div>
    <ul id='list'></ul>
</div>
</body>
</html>